@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-20deg);
    }
}

.animate-wave {
    animation: wave 1s ease-in-out infinite;
    display: inline-block;
    transform-origin: 70% 70%;
}
